@model BhagwatiSamaj.Models.Candidate
<input type="hidden" value="@(Model.FirstName + " " + Model.MiddleName + " " + Model.LastName + " ("+(Model.IsMale?"Male":"Female") + ")")" id="txtTitle" />
<input type="hidden" value="@Model.IsPublished" id="txtIsPublished" />
@if (Model != null)
{
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <label>Father : </label>@(Model.FatherFirstName + " " + Model.FatherMiddleName + " " + Model.FatherLastName)
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Mother : </label>@(Model.MotherFirstName + " " + Model.MotherMiddleName + " " + Model.MotherLastName)
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Current Address : </label>@(Model.CurrentAddress)
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Permenent Address : </label><b>@(Model.PermenentAddress)
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <img src="@(Url.Content(Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["CandidatePhotoPath"])+Model.PhotoPath))" style="max-height: 200px;max-width: 150px;" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label>Native : </label>@Model.NativePlace
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label>Birth Date : </label>@Model.BirthDate.ToShortDateString()
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label>Birth Time : </label>@Model.BirthTime.ToString("hh:mm:ss tt")
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label>Birth District : </label>@Model.BirthDistrict
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label>Hobby : </label>@Model.Hobby
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label>Height : </label>@Model.Height
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label>Weight : </label>@Model.Weight
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label>Skin Color : </label>@Model.SkinColor
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label>Contact No : </label>@Model.ContactNo
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label>Email Id : </label>@Model.EmailId
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label>Mobile No : </label>@Model.MobileNo
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label>Education : </label>@Model.Education
        </div>
    </div>
}
