@model List<BhagwatiSamaj.Models.Candidate>
@{
    ViewBag.Title = "MemberList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover table-responsive">
                <thead>
                    <tr>
                        <td>
                            Photo
                        </td>
                        <td>
                            Name
                        </td>
                        <td>
                            Birth Date
                        </td>
                        <td>
                            Current Address
                        </td>
                        <td>
                            Action
                        </td>

                    </tr>
                </thead>
                @if (Model != null)
                {
                    <tbody>
                        @foreach (var candidate in Model)
                        {
                            <tr>
                                <td>
                                    <img src="@(Url.Content(Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["CandidatePhotoPath"])+candidate.PhotoPath))" style="max-height: 200px;max-width: 150px;" />
                                </td>
                                <td>
                                    <label>
                                        @(candidate.FirstName + " " + candidate.MiddleName + " " + candidate.LastName)
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        @(candidate.BirthDate.ToShortDateString())
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        @(candidate.CurrentAddress)
                                    </label>
                                </td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-primary btn-sm" onclick="OpenDetail('@candidate.Id')">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                    @if (candidate.IsPublished)
                                    {
                                        <button type="button" class="btn btn-primary btn-sm">
                                            <span class="glyphicon glyphicon-check"></span>&nbsp;&nbsp;Active
                                        </button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-danger btn-sm">
                                            <span class="glyphicon glyphicon-align-center"></span> &nbsp;&nbsp;Inactive
                                        </button>
                                    }
                                </td>

                            </tr>
                        }
                    </tbody>
                }
            </table>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" style="display:none" id="btnCandidateDetail" data-toggle="modal" data-target="#candidateDetailModal">
    Launch State Modal
</button>

<!-- Modal -->
<div class="modal fade" id="candidateDetailModal" tabindex="-1" role="dialog" aria-labelledby="candidateDetailModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="candidateDetailModalLabel">Candidate Info</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                
            </div>
        </div>
    </div>
</div>

<script>
    var viewCandidateId = 0;
    function OpenDetail(candidateId) {
        viewCandidateId = candidateId;
        $('#btnCandidateDetail').click();
    }

    $(document).ready(function () {
        $('#candidateDetailModal').on('show.bs.modal', function (e) {
            $.ajax({
                url: '@Url.Action("GetCandidateInfo","Admin")',
                data: { candidateId: viewCandidateId },
                success: function (data) {
                    $('#candidateDetailModal .modal-body').html(data);
                    $('#candidateDetailModalLabel').html($('#txtTitle').val());
                    if ($('#txtIsPublished').val() == "1") {
                        $('#candidateDetailModal .modal-footer').append('<button type="button" class="btn btn-danger" onclick="DeactivateProfile()">Deactivate this profile</button>');
                    }
                    else {
                        $('#candidateDetailModal .modal-footer').append('<button type="button" class="btn btn-primary" onclick="ActivateProfile()">Activate this profile</button>');
                    }
                }
            });
        });
    });

    function ActivateProfile() {
        $.ajax({
            url: '@Url.Action("ActivateProfile","Admin")',
            data: { candidateId: viewCandidateId },
            success: function (data) {
                if (data.IsSuccess) {
                    $('#candidateDetailModal [data-dismiss="modal"]').click();
                    viewCandidateId = 0;
                    window.location.reload();
                }
                else {
                    alert(data.ResponseValue);
                }
            }
        });
    }

    function DeactivateProfile() {
        $.ajax({
            url: '@Url.Action("DeactivateProfile", "Admin")',
            data: { candidateId: viewCandidateId },
            success: function (data) {
                if (data.IsSuccess) {
                    $('#candidateDetailModal [data-dismiss="modal"]').click();
                    viewCandidateId = 0;
                    window.location.reload();
                }
                else {
                    alert(data.ResponseValue);
                }
            }
        });
    }
</script>