@model List<BhagwatiSamaj.Models.Family>
@if (Model != null)
{
    foreach (var family in Model)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="funny-boxes funny-boxes-colored funny-boxes-blue">
                    <div class="row">
                        <div class="col-md-3 funny-boxes-img text-center" style="border-right:1px solid yellow">
                            @if (family.PhotoPath != null && family.PhotoPath.Length > 0)
                            {
                                <img alt="" style="max-height: 300px;margin: 0px auto; max-width: 200px;" src="@(Url.Content(Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["FamilyPhotoPath"])+family.PhotoPath))" class="img-responsive">
                            }
                        </div>
                        <div class="col-md-9">
                            <h2><a href="#">@((family.FirstName + " " + family.MiddleName + " " + family.LastName).ToUpper() + " (" + family.MobileNo + ")")</a></h2>
                            <p>Father : @((family.FatherFirstName + " " + family.FatherMiddleName + " " + family.FatherLastName).ToUpper())</p>
                            <p>Mother : @((family.MotherFirstName + " " + family.MotherMiddleName + " " + family.MotherLastName).ToUpper())</p>
                            <a class="btn-u btn-u-red" href="@Url.Action("FamilyDetail", "Family", new { FamilyId = family.Id })">More Detail</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
    }
}
else
{
    <text>
        There is no Family
    </text>
}