@model List<BhagwatiSamaj.Models.Event>
@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    @if (Model != null)
    {
        foreach (var evnt in Model)
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="funny-boxes funny-boxes-colored funny-boxes-blue">
                        <div class="row">
                            <div class="col-md-4 funny-boxes-img">
                                <img alt="" src="@(Url.Content(Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["EventPhotoPath"])+evnt.EventUploads.FirstOrDefault().UploadPath))" class="img-responsive">
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-briefcase"></i>Starts : @evnt.StartDate.ToShortDateString()</li>
                                    <li><i class="fa fa-map-marker"></i>Ends : @evnt.EndDate.ToShortDateString()</li>
                                </ul>
                            </div>
                            <div class="col-md-8">
                                <h2><a href="#">@evnt.Title.ToUpper()</a></h2>
                                <p>Description : @evnt.Description</p>
                                <p>Address     : @evnt.EventAddress</p>
                                <a class="btn-u btn-u-red" href="@Url.Action("EventDetail", "Dashboard", new { EventId = evnt.Id})">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <h1>There is no Events</h1>
    }
</div>