@model BhagwatiSamaj.Models.Event
@{
    ViewBag.Title = "EventDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="@Url.Content("~/Content/plugins/line-icons/line-icons.css")">
<link rel="stylesheet" href="@Url.Content("~/Content/plugins/font-awesome/css/font-awesome.css")">
<link rel="stylesheet" href="@Url.Content("~/Content/plugins/revolution-slider/examples/rs-plugin/css/settings.css")">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>@Model.Title.ToUpper()</h1>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="tp-banner-container">
                <div class="tp-banner">
                    <ul>
                        <!-- SLIDE -->
                        @foreach (var upload in Model.EventUploads)
                        {
                            <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000">
                                <!-- MAIN IMAGE -->
                                <img src="@(Url.Content(Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["EventPhotoPath"])+upload.UploadPath))" alt="darkblurbg" data-bgfit alt="darkblurbg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                                <div class="tp-caption revolution-ch1 sft start"
                                     data-x="center"
                                     data-hoffset="0"
                                     data-y="100"
                                     data-speed="1500"
                                     data-start="500"
                                     data-easing="Back.easeInOut"
                                     data-endeasing="Power1.easeIn"
                                     data-endspeed="300">
                                    Event Photos
                                </div>
                                <!-- LAYER -->
                                <div class="tp-caption revolution-ch2 sft"
                                     data-x="center"
                                     data-hoffset="0"
                                     data-y="190"
                                     data-speed="1400"
                                     data-start="2000"
                                     data-easing="Power4.easeOut"
                                     data-endspeed="300"
                                     data-endeasing="Power1.easeIn"
                                     data-captionhidden="off"
                                     style="z-index: 6">
                                    This is evidence or picture image of event<br />
                                    and you guys will enjoy this a lot
                                </div>
                                <!-- LAYER -->
                                <div class="tp-caption sft"
                                     data-x="center"
                                     data-hoffset="0"
                                     data-y="310"
                                     data-speed="1600"
                                     data-start="2800"
                                     data-easing="Power4.easeOut"
                                     data-endspeed="300"
                                     data-endeasing="Power1.easeIn"
                                     data-captionhidden="off"
                                     style="z-index: 6">
                                </div>
                            </li>
                        }


                    </ul>
                    <div class="tp-bannertimer tp-bottom"></div>
                </div>
            </div>
            <!--=== End Slider ===-->
        </div>
    </div>
    <br />
    
    <div class="row">
        <div class="col-md-2">
            <h3>Address :</h3>
        </div>
        <div class="col-md-10">
            <h3> @Model.EventAddress</h3>
        </div>
    </div>
    <br />
    <div class="row">
        <h4>
            <div class="col-md-2">
                Starts From :
            </div>
            <div class="col-md-4">
                @Model.StartDate.ToShortDateString()
            </div>
            <div class="col-md-2">
                Ends :
            </div>
            <div class="col-md-4">
                @Model.EndDate.ToShortDateString()
            </div>
        </h4>
    </div>
    <br />
    <div class="row">

    </div>
    <br />
    <div class="row">
        <div class="col-md-2">
            Description :

        </div>
        <div class="col-md-10">
            @Model.Description
        </div>
    </div>
    <br />
</div>

<script type="text/javascript" src="@Url.Content("~/Content/plugins/revolution-slider/examples/rs-plugin/js/jquery.themepunch.plugins.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/plugins/revolution-slider/examples/rs-plugin/js/jquery.themepunch.revolution.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/pages/index.js")"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        App.init();
        Index.initRevolutionSlider();
    });
</script>